set incsearch
set ignorecase
set smartcase
set multiple-cursors
set clipboard+=unnamed
set ideajoin
set ideaput
set relativenumber
set number
set surround
set highlightedyank
set relativenumber
set idearefactormode=keep
set ideajoin
set showmode
set NERDTree
set scrolloff=5

let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq

nnoremap <silent> vv <C-w>v
nnoremap <silent> ss <C-w>s

map <C-H> <C-W>h
map <C-L> <C-W>l
map <C-J> <C-W>j
map <C-K> <C-W>k

vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" system clipboard
vmap <leader>yiw "+yiw
nmap <leader>yiw "+yiw
vmap <leader>y "+y
vmap <leader>d "_d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P

nnoremap <leader>f :action ReformatCode <CR>
vnoremap <leader>f :action ReformatCode <CR>

nnoremap gcc :action CommentByLineComment<CR>
vnoremap gcc :action CommentByLineComment<CR>

nnoremap <leader>a :action GotoAction<CR>
vnoremap <leader>a :action GotoAction<CR>

nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fu :action FindUsages <CR>
vnoremap <leader>fu :action FindUsages <CR>
nnoremap <leader>fe :action SearchEverywhere <CR>

nnoremap <leader>ss :action SelectInProjectView<CR>

nnoremap <leader>rn :action RenameElement<CR>
